@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-white: #fafafa;
  --brand-black: #1f2327;
  --brand-cyan: #00c6b3;
  --brand-cyan-light: #00e6cf;
  --brand-light-green: #d6eadf;
}

html {
  scroll-behavior: smooth;
}

.text-brand-white {
  color: var(--brand-white);
}

.text-brand-cyan {
  color: var(--brand-cyan);
}

.text-brand-black {
  color: var(--brand-black);
}

.bg-brand-white {
  background-color: var(--brand-white);
}

.bg-brand-black {
  background-color: var(--brand-black);
}

.bg-brand-cyan {
  background-color: var(--brand-cyan);
}

.hint {
  height: 4px;
  background-color: var(--brand-cyan);
}

.apply-button {
  border: 1px solid var(--brand-cyan);
  font-family: Montserrat, sans-serif;
  width: 200px;
  border-radius: 3px;
  padding: 10px;
}

.apply-button:hover {
  background-color: var(--brand-cyan-light);
  transition: all 0.3s ease;
}

.learn-more-button {
  color: var(--brand-light-green);
  border: 1px solid var(--brand-light-green);
  font-family: Montserrat, sans-serif;
  width: 200px;
  border-radius: 3px;
  padding: 10px;
}

.learn-more-button:hover {
  color: var(--brand-black);
  background-color: var(--brand-light-green);
  transition: all 0.3s ease;
}

a:hover {
  transition: all 0.3s ease;
  color: var(--brand-cyan);
}
